
body{
	background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rubik-Light', Arial, Sans-serif, Helvetica;
    font-weight: 300;
    background-color: #f1f1ec;
    overflow:hidden;
    cursor:none;

}
p{
	margin:0;
	color:#fff;
}
@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.eot') format('eot'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.languages div {
    position: relative;
    transition: ease .3s all;
    margin: 11px 0;
    font-size: 18px;
    border: 1px solid #26313d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.languages {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 150px;
    display: flex;
    flex-direction: column;
}
.languages div span {
    top: 50%;
    position: relative;
    transition: ease .3s all;
    transform: translate(0, -50%);
    float: left;
    width: 100%;
}
.languages div.active {
    border: 1px solid #cc0066;
}
.languages div.active span {
    color: #cc0066;
}
.view[data-view="1"] img {
    margin-top: 120px;
}
h2 {
    font-size: 70px;
    color: #cc0066;
    font-weight: 300;
    line-height: 100%;
    margin: 100px 0 35px 0;
}
p {
    margin: 0;
    color: #26313d;
    font-size: 30px;
}
button[data-button="pink"] {
    background: #cc0066;
}
button {
    font-size: 30px;
    min-width: 210px;
    border: none;
    color: #f1f1ec;
    font-weight: 300;
    font-family: 'Rubik-Light', Arial, Sans-serif, Helvetica;
    padding: 15px 20px 14px 20px;
    border-radius: 45px;
    margin-top: 42px;
}
.home_btn {
    position: absolute;
    top: 90px;
    left: 150px;
    width: 60px;
    height: 60px;
    border: 1px solid #f0f5f5;
    border-radius: 50%;
}
.home_btn img {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}

.rakk img {
    width: 600px;
    height: 600px;
    margin-top: 170px;
    margin-left: 30px;
}
.moisted_left div {
    position: relative;
    transition: ease .2s all;
    margin-top: 36px;
    margin-bottom: 0px;
    font-size: 18px;
    border: 1px solid white;
    width: 300px;
    height: 55px;
    border-radius: 45px; 
    border-width: 1px;
}
.moisted_left {
    position: absolute;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    top: 450px;
    left: 150px;
    width: 750px;
}
.moisted_left span{
    top: 50%;
    position: relative;
    /*transition: ease .1s all;*/
    transform: translate(0, -50%);
    float: left;
    width: 100%;
    padding: 15px 20px 14px 20px;
    text-align: left;
}
.pointer {
    margin-top: 100px;
}
.moisted_right div {
    position: relative;
    transition: ease .2s all;
    margin-top: 36px;
    margin-bottom: 0px;
    font-size: 18px;
    border: 1px solid white;
    width: 300px;
    height: 55px;
    border-radius: 45px; 
    border-width: 1px;
}
.moisted_right {
    position: absolute;
    top: 450px;
    transform: translate(0%, -50%);
    left: 1267px;
    display: flex;
    flex-direction: column;
    width: 750px;
}
.moisted_right span{
    top: 50%;
    position: absolute;
    /*transition: ease .1s all;*/
    transform: translate(0, -50%);
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 14px;
    text-align: left;
    left: 20px;
}
.view[data-view="2"] {
    background-color: #33334d;
    color: white;
}
.view[data-view="2"] p {
    color: #f0f5f5;
    font-size: 30px;
    margin-top: 50px;   
}
.pointer_left{
    position: fixed;
    margin-top: 25px;
    visibility: hidden;
}
#xd {
    margin-top: 0px;
}
.pointer_right{
    float: right;
    margin-right: 299px;
    margin-top: 25px;
    visibility: hidden;
}
.lamp_left{
    top: 25%;
    position: absolute;
    float: left;
    text-align: left;
    left: 250px;
    visibility: hidden;
}

.lamp_right{
    top: 25%;
    position: absolute;
    float: left;
    text-align: left;
    left: 250px;
    visibility: hidden;
}